<?xml version="1.0" encoding="UTF-8"?>
<suite name = "Group of group Suite" verbose = "1">
    <test name = " Group of group Test">
        <groups>
            <define name = "include-group">
                <include name= "include-test-one"/>
                <include name = "include-test-two"/>
            </define>
            <define name = "exclude-group">
                <include name = "test-one-excluded"/>
                <include name = "test-two-excluded"/>
            </define>
            <run>
                <include name = "include-group"/>
                <include name = "exclude-group"/>
            </run>
        </groups>
        <classes>
            <class name = "test.java.RegularExpressionGroupTest"/>
        </classes>
    </test>
</suite>